.main{

  background: linear-gradient(purple,lightblue);
  width:100vw;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:5vh;
  opacity: 0.7;

}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid grey;
  width:94vw;
  padding-bottom: 3px;
  justify-content: space-between;
  gap: 10px;
}
.des{
  size: 5vw;
  font-size: 1.5vw;
  opacity: 0.7;
  display: flex;
  padding-left: 3px;
  padding-right: 2px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  height: 8vh;
}
.mech1{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  width: 94vw;
  height: 10vh;

}
.csc{
  width: 94vw;
  height: 10vh;
}
.csb{
  width: 94vw;
  height: 10vh;
}
.csbs{
  width: 94vw;
  height: 10vh;
}
.csa{
  width: 94vw;
  height: 10vh;
}
.mech2{
  width: 94vw;
  height: 10vh;
}
.eca{
  width: 94vw;
  height: 10vh;
}
.ecb{
  width: 94vw;
  height: 10vh;
}
.eb{
  width: 94vw;
  height: 10vh;
  
}
.imageContainer{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  width: 12vw;
}
.img{
  height: inherit;
  width: 10vw;
  object-fit: contain;
}
