.main{

  background: rgb(15,9,19);
  width:100vw;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:5vh;
  opacity: 0.7;

}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid grey;
  width:94vw;
  padding-bottom: 3px;
  justify-content: space-between;
  gap: 10px;
}
.des{
  size: 5vw;
  font-size: 1.5vw;
  opacity: 0.7;
  display: flex;
  padding-left: 3px;
  padding-right: 2px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  height: 8vh;
}
.mech1{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  width: 94vw;
  height: 10vh;

}
.csc{
  width: 94vw;
  height: 10vh;
}
.csb{
  width: 94vw;
  height: 10vh;
}
.csbs{
  width: 94vw;
  height: 10vh;
}
.csa{
  width: 94vw;
  height: 10vh;
}
.mech2{
  width: 94vw;
  height: 10vh;
}
.eca{
  width: 94vw;
  height: 10vh;
}
.ecb{
  width: 94vw;
  height: 10vh;
}
.eb{
  width: 94vw;
  height: 10vh;
  
}
.imageContainer{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  width: 12vw;
}
.img{
  height: inherit;
  width: 10vw;
  object-fit: contain;
}

/* Vinay's Changes */
.header{
  padding: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top:0;
  left:0;
  height:100px;
  background: rgb(34, 30, 37);
  border-bottom:1px solid slategrey;
  width: 100%;
  box-shadow: 10px 10px 5px rgba(109, 111, 113, 0.406);
}
.footer{
  height: 100px;
  background: black;
  width:100%;
}
.title{
  padding: 300px;
  font-size: 40px;
  background: linear-gradient(to right,#0b6ccd,#24c5d7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hidden{
  opacity: 0;
  transition: all 1s; 
}

.show{
  opacity: 1;
}

.links{
  width: 200px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.homecontent{
  font-size: 30px;
  color: #0b6ccd;
  width:500px;
  min-height: 500px;
}